@import "~bootstrap/scss/bootstrap.scss";

.pole {
    background-color: black;
    width: 10px;
    height: 70px;
    margin-left: 82px;
}

.blackBox {
    background-color: black;
    width: 65px;
    height: 190px;
    margin-left: 58px;
    padding: 7px;
}

.circle {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 7px 7px 0 0;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.glow {

  box-shadow: 0 0 18px #fff;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}